
<form class="form-horizontal"ng-hide="showFromForm">
    {% csrf_token %}
<fieldset>

<!-- Text input-->

  <div class="form-group">
    <label class="col-md-3 control-label" for="apiKey">Your shopify API Key</label>
    <div class="col-md-6">
    <input id="apiKey" name="trackingNumber" type="text" placeholder="API Key" ng-model="apiKey" class="form-control input-md">
 
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" for="storeUrl">Store URL</label>
    <div class="col-md-6">
      <input id="storeUrl" name="trackingNumber" type="text" placeholder="https://" ng-model="shopifyUrl" class="form-control input-md">

    </div>
  </div>


<!-- Button -->
<div class="form-group">
  <div class="col-md-4 col-md-offset-5">
    <button id="singlebutton" name="singlebutton" ng-click="goToStore()" class="btn btn-primary">Submit</button>
    <button id="singlebutton" name="singlebutton" ng-click="resetSession()" class="btn btn-primary">Reset session</button>
  </div>

</div>
</fieldset>
</form>

<form class="form-horizontal" ng-show="showFromForm">
    {% csrf_token %}
<fieldset>

<!-- Text input-->

  <div class="form-group">
    <label class="col-md-3 control-label" for="chinavisionApiKey">Your Chinavision API Key</label>
    <div class="col-md-6">
    <input id="chinavisionApiKey" name="chinavisionApiKey" type="text" placeholder="API Key" ng-model="chinavisionApiKey" class="form-control input-md">

    </div>
  </div>
    <!--
{% verbatim %}
  <div class="form-group" ng-show="categories.length>0">
    <label class="col-md-3 control-label" for="chinavisionCategory">select one category</label>
    <div class="col-md-6">
    <select  class="form-control" id="chinavisionCategory" name="trackingNumber" type="text" ng-model="chinavisionCategory" class="form-control input-md">
        <option value="{{category.name}}" ng-repeat ="category in categories" >{{ category.name}}</option>
    </select>
    </div>
  </div>
{% endverbatim %}
<!-- Button -->-->
<div class="form-group">
  <div class="col-md-4 col-md-offset-5">
    <!--<button ng-disabled="exportingProducts" ng-show="categories.length>0" id="singlebutton" name="singlebutton" ng-click="exportProducts()" class="btn btn-primary">Import</button>-->
    <button ng-disabled="exportingProducts" ng-show="!categories.length>0" id="singlebutton" name="singlebutton" ng-click="getCategories()" class="btn btn-primary">Submit</button>
    <button ng-disabled="exportingProducts" id="singlebutton" ng-disabled="exportingProducts" name="singlebutton" ng-click="resetSession()" class="btn btn-primary">Reset session</button>
  </div>
</div>
{%verbatim%}
<div ng-show="totalImportedProducts>0">you have imported {{totalImportedProducts}} Products to shopify</div>
{%endverbatim%}
</fieldset>
</form>
